@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33%;
  min-width: 0;
  margin: 0 10px;
}

.star-wars-gradient {
  background: linear-gradient(135deg, #020111 0%, #191621 100%);
}

.gradient {
  background: linear-gradient(120deg, #8547b2 0%, #1b0626 100%);
}