@tailwind base;
@tailwind components;
@tailwind utilities;

.embla__slide {
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33%;
  }
}

.star-wars-gradient {
  background: linear-gradient(135deg, #020111 0%, #191621 100%);
}

.gradient {
  background: linear-gradient(120deg, #8547b2 0%, #1b0626 100%);
}